{
  "openapi": "3.1.0",
  "info": {
    "title": "Tailscale API",
    "description": "### Overview\n\n**The API endpoints documented here are stable. However, the OpenAPI spec used to generate this documentation is unstable. It may change or break without notice.**\n\nThe Tailscale API is a (mostly) RESTful API. Typically, both POST bodies and responses are JSON-encoded.\n\n### Base URL\n\nThe base URL for the Tailscale API is https://api.tailscale.com/api/v2/.\n\nExamples in this document may abbreviate this to `/api/v2/`.\n\n### Authentication\n\nRequests to the Tailscale API are authenticated with an API access token (sometimes called an API key).\nAccess tokens can be supplied as the username portion of HTTP Basic authentication\n(leave the password blank) or as an OAuth Bearer token:\n\n```\n// passing token with basic auth\ncurl -u \"tskey-api-xxxxx:\" https://api.tailscale.com/api/v2/...\n\n// passing token as bearer token\ncurl -H \"Authorization: Bearer tskey-api-xxxxx\" https://api.tailscale.com/api/v2/...\n```\n\nAccess tokens for individual users can be created and managed from the [Keys](https://login.tailscale.com/admin/settings/keys) page of the admin console. These tokens will have the same permissions as the owning user, and can be set to expire in 1 to 90 days. Access tokens are identifiable by the prefix tskey-api-.\n\nAlternatively, a trust credential (OAuth client or federated identity) can be used to create short-lived access tokens with scoped permission. Trust credentials don't expire, and can therefore be used to provide ongoing access to the API, creating access tokens as needed. Trust credentials and the access tokens they create are not tied to an individual Tailscale user. OAuth client secrets are identifiable by the prefix tskey-client-. Learn more about [trust credentials][kb-trust-credentials].\n\n[kb-trust-credentials]: https://tailscale.com/kb/1623/\n\n### Errors\n\nThe Tailscale API returns status codes consistent with standard HTTP conventions. In addition to the status code, errors may include additional information in the response body:\n\n```\n{\n  \"message\": \"additional error information\"\n}\n```\n\n### Pagination\n\nThe Tailscale API does not currently support pagination. All results are returned at once.",
    "termsOfService": "https://tailscale.com/terms",
    "version": "v2",
    "license": {
      "name": "BSD 3-Clause",
      "url": "https://github.com/tailscale/tailscale/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.tailscale.com/api/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Devices",
      "description": "Manage devices.\nLearn more about [managing devices](/kb/1372/manage-devices).\n"
    },
    {
      "name": "PolicyFile",
      "x-displayName": "Policy file",
      "description": "Manage a tailnet's policy file.\nLearn more about the [policy file and ACLs](/kb/1018/acls).\n"
    },
    {
      "name": "Keys",
      "description": "Manage auth keys and API access tokens.\nLearn more about [auth keys](/kb/1085/auth-keys) and [API access tokens](/kb/1101/api#authentication).\n"
    },
    {
      "name": "DNS",
      "description": "Manage a tailnet's DNS settings.\nLearn more about [DNS in Tailscale](/kb/1054/dns).\n"
    },
    {
      "name": "Logging",
      "description": "Manage and configure network logging, configuration logging, and log streaming for a tailnet.\nLearn more about [logging and events](/kb/1349/log-events).\n"
    },
    {
      "name": "Users",
      "description": "Manage and query users.\nLearn more about [managing users](/kb/1373/manage-users).\n"
    },
    {
      "name": "UserInvites",
      "x-displayName": "User invites",
      "description": "Manage user invites.\nLearn more about about [inviting users](/kb/1371/invite-users).\n"
    },
    {
      "name": "DeviceInvites",
      "x-displayName": "Device invites",
      "description": "Manage device invites.\nLearn more about [sharing devices](/kb/1084/sharing).\n"
    },
    {
      "name": "DevicePosture",
      "x-displayName": "Device posture",
      "description": "Manage integrations with device posture data providers.\nLearn more about how to use [device posture data to secure a tailnet](/kb/1288/device-posture).\n"
    },
    {
      "name": "Contacts",
      "x-displayName": "Contact preferences",
      "description": "Manage [contact preferences](/kb/1224/contact-preferences).\n"
    },
    {
      "name": "Webhooks",
      "description": "Manage webhook endpoints for a tailnet.\nLearn more about [webhooks](/kb/1213/webhooks).\n"
    },
    {
      "name": "TailnetSettings",
      "x-displayName": "Tailnet settings",
      "description": "Manage settings for a tailnet.\n"
    },
    {
      "name": "Services",
      "x-displayName": "Services",
      "description": "Manage Tailscale Services for a tailnet.\nLearn more about [Tailscale Services](/kb/1552/tailscale-services).\n"
    }
  ],
  "paths": {
    "/tailnet/{tailnet}/devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "in": "query",
          "name": "<field>=<value> filters",
          "description": "This endpoint supports server-side filtering of devices by specifying one\nor more filters in the form `<field>=<value>`. Fields must be a top-level\ndevice property - e.g. `isEphemeral`, `tags`, `hostname`, etc. Values are\nmatched as _exact_ matches. Properties with simple types (strings, numbers,\ndates, etc) and lists are supported. Properties that are complex objects\n(e.g. `clientConnectivity`) are not supported. When multiple parameters are\nprovided, the server performs a logical `AND` across all filter parameters\nbefore returning results. For example,\n`isEphemeral=true&tags=tag:prod&tags=tag:subnetrouter` would return devices\nwhere `isEphemeral` is `true` and `tags` contains both `tag:prod` and\n`tag:subnetrouter`.\n",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "List tailnet devices",
        "description": "Lists the devices in a tailnet.\n\nOAuth Scope: `devices:core:read`.\n",
        "operationId": "listTailnetDevices",
        "tags": [
          "Devices"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "devices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Device"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "description": "Request took too long to process, please try again later.",
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/tailnet/{tailnet}/device-attributes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ],
      "patch": {
        "summary": "Batch update custom device posture attributes",
        "description": "Batch updates posture attributes across devices in a tailnet.\n\nThis endpoint uses [JSON Merge Patch](https://datatracker.ietf.org/doc/html/rfc7396) semantics.\nSpecifying `null` for an attribute will delete that attribute.\n\nAttributes must be in the `custom:` namespace.\n\nOAuth Scope: `devices:posture_attributes`.\n",
        "operationId": "batchUpdateCustomDevicePostureAttributes",
        "tags": [
          "Devices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodes": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "value": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "boolean"
                                  }
                                ],
                                "description": "Attribute value.\n"
                              },
                              "expiry": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Optional expiry time for the attribute.\nIf set, Tailscale automatically removes the attribute within\na few minutes after the specified time.\n"
                              }
                            },
                            "required": [
                              "value"
                            ]
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "Attribute configuration with value and optional expiry, or `null` to delete the attribute.\n"
                      },
                      "description": "A mapping of attribute name → attribute configuration for this device.\n"
                    },
                    "description": "A mapping of deviceId → posture attributes.\n"
                  },
                  "comment": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "An optional comment indicating why attributes are being set,\nwhich will be added to the audit log.\n"
                  }
                },
                "example": {
                  "nodes": {
                    "nPM2KNuedB21DEVEL": {
                      "custom:myattr": {
                        "value": "my_value"
                      }
                    },
                    "nPpz3VEKzX11DEVEL": {
                      "custom:flag": {
                        "value": true,
                        "expiry": "2025-09-19T15:00:00Z"
                      }
                    }
                  },
                  "comment": "bulk posture attribute update"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "An invalid request payload was sent",
            "$ref": "#/components/responses/400"
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/device/{deviceId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "get": {
        "summary": "Get a device",
        "description": "Retrieve the details for the specified device.\n\nOAuth Scope: `devices:core:read`.\n",
        "operationId": "getDevice",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied.",
            "$ref": "#/components/responses/400"
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "delete": {
        "summary": "Delete a device",
        "description": "Deletes the device from its tailnet.\nThe device must belong to the requesting user's tailnet.\nDeleting devices shared with the tailnet is not supported.\n\nOAuth Scope: `devices:core`.\n",
        "operationId": "deleteDevice",
        "tags": [
          "Devices"
        ],
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "400": {
            "description": "Invalid device value.",
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "501": {
            "description": "Device not owned by tailnet.",
            "$ref": "#/components/responses/501"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/device/{deviceId}/expire": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "post": {
        "summary": "Expire a device's key",
        "description": "Mark a device's node key as expired.\nThis will require the device to re-authenticate in order to connect to the tailnet.\nThe device must belong to the requesting user's tailnet.\n\nOAuth Scope: `devices:core`.\n",
        "operationId": "expireDeviceKey",
        "tags": [
          "Devices"
        ],
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/device/{deviceId}/routes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "get": {
        "summary": "List device routes",
        "description": "Retrieve the list of subnet routes that a device is advertising,\nas well as those that are enabled for it.\n\nRoutes must be both advertised and enabled for a device to act as a subnet router or exit node.\nIf a device has advertised routes, they are not exposed to traffic until they are enabled.\nConversely, if routes are enabled before they are advertised, they are not available for routing until the device in question has advertised them.\n\nLearn more about [subnet routers](/kb/1019/subnets) and [exit nodes](/kb/1103/exit-nodes).\n\nOAuth Scope: `devices:routes:read`.\n",
        "operationId": "listDeviceRoutes",
        "tags": [
          "Devices"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceRoutes"
                }
              }
            }
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "post": {
        "summary": "Set device routes",
        "description": "Set a device's enabled subnet routes by replacing the existing list of subnet routes with the supplied parameters.\n[Advertised routes](/kb/1019/subnets#advertise-subnet-routes) cannot be set through the API, since they must be set directly on the device.\n\nRoutes must be both advertised and enabled for a device to act as a subnet router or exit node.\nIf a device has advertised routes, they are not exposed to traffic until they are enabled.\nConversely, if routes are enabled before they are advertised, they are not available for routing until the device in question has advertised them.\n\nLearn more about [subnet routers](/kb/1019/subnets) and [exit nodes](/kb/1103/exit-nodes).\n\nOAuth Scope: `devices:routes`.\n",
        "operationId": "setDeviceRoutes",
        "tags": [
          "Devices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "routes": {
                    "type": "array",
                    "description": "The new list of enabled subnet routes.\n",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "10.0.0.0/16",
                      "192.168.1.0/24"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceRoutes"
                }
              }
            }
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/device/{deviceId}/authorized": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "post": {
        "summary": "Authorize device",
        "description": "This call marks a device as authorized or revokes its authorization for tailnets where device authorization is required,\naccording to the authorized field in the payload.\n\nOAuth Scope: `devices:core`.\n",
        "operationId": "authorizeDevice",
        "tags": [
          "Devices"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorized": {
                    "type": "boolean",
                    "description": "- If `true`, authorize a new device or re-authorize a previously deauthorized device.\n- If `false`, deauthorize an authorized device.\n"
                  }
                },
                "required": [
                  "authorized"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/device/{deviceId}/name": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "post": {
        "summary": "Set device name",
        "description": "When a device is added to a tailnet, its Tailscale [device name](https://tailscale.com/kb/1098/machine-names) (also sometimes referred to as machine name) is generated from its OS hostname.\nThe device name is the canonical name for the device on your tailnet.\n\nDevice name changes immediately get propogated through your tailnet, so be aware that any existing [Magic DNS](https://tailscale.com/kb/1081/magicdns) URLs using the old name will no longer work.\n\nOAuth Scope: `devices:core`.\n",
        "operationId": "setDeviceName",
        "tags": [
          "Devices"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name for the device.\n\nThis can be provided as either the fully qualified domain name for the device (e.g. \"nodename.your-domain.ts.net\")\nor just the base name (e.g. \"nodename\").\n\nIf `name` is unset or provided empty, the device's name is reset to be\ngenerated from its OS hostname.\n",
                    "example": "dev-server"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/device/{deviceId}/tags": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "post": {
        "summary": "Set device tags",
        "description": "Tags let you assign an identity to a device that is separate from human users, and use that identity as part of an ACL to restrict access.\nTags are similar to role accounts, but more flexible.\n\nTags are created in the tailnet policy file by defining the tag and an owner of the tag.\nOnce a device is tagged, the tag is the owner of that device.\nA single node can have multiple tags assigned.\n\nConsult the policy file for your tailnet in the [admin console](https://login.tailscale.com/admin/acls) for the list of tags that have been created for your tailnet.\nLearn more about [tags](https://tailscale.com/kb/1068/).\n\nOAuth Scope: `devices:core`.\n",
        "operationId": "setDeviceTags",
        "tags": [
          "Devices"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "description": "The new list of tags for the device.\n",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "tag:foo",
                      "tag:bar"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/device/{deviceId}/key": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "post": {
        "summary": "Update device key",
        "description": "When a device is added to a tailnet, its key expiry is set according to the tailnet's key expiry setting.\nIf the key is not refreshed and expires, the device can no longer communicate with other devices in the tailnet.\n\nOAuth Scope: `devices:core`.\n",
        "operationId": "updateDeviceKey",
        "tags": [
          "Devices"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyExpiryDisabled": {
                    "type": "boolean",
                    "example": true,
                    "description": "- If `true`, disable the device's key expiry. The original key expiry time is still maintained. Upon re-enabling, the key will expire at that original time.\n- If `false`, enable the device's key expiry. Sets the key to expire at the original expiry time prior to disabling. The key may already have expired. In that case, the device must be re-authenticated.\n"
                  }
                },
                "required": [
                  "keyExpiryDisabled"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/device/{deviceId}/ip": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "post": {
        "summary": "Set device IPv4 address",
        "description": "When a device is added to a tailnet, its Tailscale IPv4 address is set at random either from the CGNAT range,\nor a subset of the CGNAT range specified by an [ip pool](https://tailscale.com/kb/1304/ip-pool).\nThis endpoint can be used to replace the existing IPv4 address with a specific value.\n\nThis action will break any existing connections to this machine.\nYou will need to reconnect to this machine using the new IP address.\nYou may also need to flush your DNS cache.\n\nOAuth Scope: `devices:core`.\n",
        "operationId": "setDeviceIp",
        "tags": [
          "Devices"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ipv4": {
                    "type": "string",
                    "description": "The new IPv4 address for the device.\n",
                    "example": "100.80.0.1"
                  }
                },
                "required": [
                  "ipv4"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/device/{deviceId}/attributes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "get": {
        "summary": "Get device posture attributes",
        "description": "Retrieve all posture attributes for the specified device.\nThis returns a JSON object of all the key-value pairs of posture attributes for the device.\n\nOAuth Scope: `devices:posture_attributes:read`.\n",
        "operationId": "getDevicePostureAttributes",
        "tags": [
          "Devices"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DevicePostureAttributes"
                }
              }
            }
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/device/{deviceId}/attributes/{attributeKey}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        },
        {
          "$ref": "#/components/parameters/attributeKey"
        }
      ],
      "post": {
        "summary": "Set custom device posture attributes",
        "description": "Create or update a custom posture attribute on the specified device.\nUser-managed attributes must be in the custom namespace,\nwhich is indicated by prefixing the attribute key with `custom:`.\n\nCustom device posture attributes are available for the Personal and Enterprise plans.\n\nOAuth Scope: `devices:posture_attributes`.\n",
        "operationId": "setCustomDevicePostureAttributes",
        "tags": [
          "Devices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      }
                    ],
                    "example": "my_value",
                    "description": "A value can be either a string, number or boolean.\n\nA string value can have a maximum length of 50 characters,\nand can only contain letters, numbers, underscores, and periods.\n\nA number value is an integer and must be a JSON safe number (up to 2^53 - 1).\n"
                  },
                  "expiry": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-12-01T05:23:30Z",
                    "description": "An optional expiry time for a given posture attribute. If set, Tailscale\nwill automatically remove the attribute within a few minutes after the specified\ntime.\n"
                  },
                  "comment": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "An optional comment indicating a reason why an attribute is set,\nwhich will be added to the audit log.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DevicePostureAttributes"
                }
              }
            }
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "delete": {
        "summary": "Delete custom device posture attributes",
        "description": "Delete a posture attribute from the specified device.\nThis is only applicable to user-managed posture attributes in the custom namespace,\nwhich is indicated by prefixing the attribute key with `custom:`.\n\nOAuth Scope: `devices:posture_attributes`.\n",
        "operationId": "deleteCustomDevicePostureAttributes",
        "tags": [
          "Devices"
        ],
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/device/{deviceId}/device-invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "get": {
        "summary": "List device invites",
        "description": "List all share invites for a device.\n\nOAuth Scope: `device_invites:read`.\n",
        "operationId": "listDeviceInvites",
        "tags": [
          "DeviceInvites"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceInvite"
                  },
                  "example": [
                    {
                      "id": "12345",
                      "created": "2024-05-08T20:19:51.777861756Z",
                      "tailnetId": 59954,
                      "deviceId": 11055,
                      "sharerId": 22011,
                      "allowExitNode": true,
                      "email": "user@example.com",
                      "lastEmailSentAt": "2024-05-08T20:19:51.777861756Z",
                      "inviteUrl": "https://login.tailscale.com/admin/invite/<code>",
                      "accepted": false
                    },
                    {
                      "id": "12346",
                      "created": "2024-04-03T21:38:49.333829261Z",
                      "tailnetId": 59954,
                      "deviceId": 11055,
                      "sharerId": 22012,
                      "inviteUrl": "https://login.tailscale.com/admin/invite/<code>",
                      "accepted": true,
                      "acceptedBy": {
                        "id": 33223,
                        "loginName": "someone@example.com",
                        "profilePicUrl": ""
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "post": {
        "summary": "Create device invites",
        "description": "Create new share invites for a device.\n\nNote that device invites cannot be created using an API access token generated from an OAuth client as the shared device is scoped to a user.\n",
        "operationId": "createDeviceInvites",
        "tags": [
          "DeviceInvites"
        ],
        "requestBody": {
          "description": "Device invites to create.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "multiUse": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the invite can be accepted more than once.\nWhen set to `true`, it results in an invite that can be accepted up to 1,000 times.\n"
                    },
                    "allowExitNode": {
                      "type": "boolean",
                      "example": false,
                      "description": "Whether the invited user can use the device as an exit node when it advertises as one.\n"
                    },
                    "email": {
                      "type": "string",
                      "example": "user@example.com",
                      "description": "The email to send the created invite to.\nIf not set, the endpoint generates and returns an invite URL (but doesn't send it out).\n"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceInvite"
                  },
                  "example": [
                    {
                      "id": "12345",
                      "created": "2024-05-08T20:19:51.777861756Z",
                      "tailnetId": 59954,
                      "deviceId": 11055,
                      "sharerId": 22011,
                      "allowExitNode": true,
                      "email": "user@example.com",
                      "lastEmailSentAt": "2024-05-08T20:19:51.777861756Z",
                      "inviteUrl": "https://login.tailscale.com/admin/invite/<code>",
                      "accepted": false
                    },
                    {
                      "id": "12346",
                      "created": "2024-04-03T21:38:49.333829261Z",
                      "tailnetId": 59954,
                      "deviceId": 11055,
                      "sharerId": 22012,
                      "inviteUrl": "https://login.tailscale.com/admin/invite/<code>",
                      "accepted": false
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Device not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/tailnet/{tailnet}/user-invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ],
      "get": {
        "summary": "List user invites",
        "description": "List all open (not yet accepted) user invites to the tailnet.",
        "operationId": "listUserInvites",
        "tags": [
          "UserInvites"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserInvite"
                  },
                  "example": [
                    {
                      "id": "29214",
                      "role": "admin",
                      "tailnetId": 12345,
                      "inviterId": 34567,
                      "email": "user@example.com",
                      "lastEmailSentAt": "2024-05-09T16:23:26.91778771Z",
                      "inviteUrl": "https://login.tailscale.com/uinv/<code>"
                    },
                    {
                      "id": "29215",
                      "role": "admin",
                      "tailnetId": 12345,
                      "inviterId": 34567,
                      "email": "someoneelse@example.com",
                      "lastEmailSentAt": "2024-05-09T17:23:30.91778771Z",
                      "inviteUrl": "https://login.tailscale.com/uinv/<code>"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "summary": "Create user invites",
        "description": "Create, and optionally email out, new user invites to join the tailnet.\n\n> ⓘ Only permitted for user-owned keys, because invites require an inviting user.\n",
        "operationId": "createUserInvites",
        "tags": [
          "UserInvites"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "member",
                        "admin",
                        "it-admin",
                        "network-admin",
                        "billing-admin",
                        "auditor"
                      ],
                      "default": "member",
                      "example": "admin",
                      "description": "Optionally specifies a user role to assign the invited user.\n"
                    },
                    "email": {
                      "type": "string",
                      "example": "user@example.com",
                      "description": "Optionally specifies the email to send the created invite.\nIf not set, the endpoint generates and returns an invite URL, but does not email it out.\n"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserInvite"
                  },
                  "example": [
                    {
                      "id": "29214",
                      "role": "admin",
                      "tailnetId": 12345,
                      "inviterId": 34567,
                      "email": "user@example.com",
                      "lastEmailSentAt": "2024-05-09T16:23:26.91778771Z",
                      "inviteUrl": "https://login.tailscale.com/uinv/<code>"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/user-invites/{userInviteId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/userInviteId"
        }
      ],
      "get": {
        "summary": "Get a user invite",
        "description": "Retrieve a specific user invite.\n",
        "operationId": "getUserInvite",
        "tags": [
          "UserInvites"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInvite"
                }
              }
            }
          },
          "404": {
            "description": "User invite not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "summary": "Delete a user invite",
        "description": "Deletes a specific user invite.\n\n> ⓘ Only permitted for user-owned keys, because invites require an inviting user.\n",
        "operationId": "deleteUserInvite",
        "tags": [
          "UserInvites"
        ],
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "User invite not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/user-invites/{userInviteId}/resend": {
      "parameters": [
        {
          "$ref": "#/components/parameters/userInviteId"
        }
      ],
      "post": {
        "summary": "Resend a user invite",
        "description": "Resend a user invite by email. You can only use this if the specified invite\nwas originally created with an email specified.\nRefer to [creating user invites for a tailnet](#tag/userinvites/post/tailnet/{tailnet}/user-invites).\n\nNote: Invite resends are rate limited to one per minute.\n\n> ⓘ Only permitted for user-owned keys, because invites require an inviting user.\n",
        "operationId": "resendUserInvite",
        "tags": [
          "UserInvites"
        ],
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "User invite not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/device-invites/{deviceInviteId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceInviteId"
        }
      ],
      "get": {
        "summary": "Get a device invite",
        "description": "Retrieve a specific device invite.\n\nOAuth Scope: `device_invites:read`.\n",
        "operationId": "getDeviceInvite",
        "tags": [
          "DeviceInvites"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceInvite"
                }
              }
            }
          },
          "404": {
            "description": "Device invite not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "summary": "Delete a device invite",
        "description": "Delete a specific device invite.\n\nOAuth Scope: `device_invites`.\n",
        "operationId": "deleteDeviceInvite",
        "tags": [
          "DeviceInvites"
        ],
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device invite not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/device-invites/{deviceInviteId}/resend": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceInviteId"
        }
      ],
      "post": {
        "summary": "Resend a device invite",
        "description": "Resend a device invite by email. You can only use this if the specified invite\nwas originally created with an email specified.\nRefer to [creating device invites for a device](#tag/deviceinvites/post/device/{deviceId}/device-invites).\n\nNote: Invite resends are rate limited to one per minute.\n\nNote that device invites cannot be resent using an API access token generated from an OAuth client as the shared device is scoped to a user.\n",
        "operationId": "resendDeviceInvite",
        "tags": [
          "DeviceInvites"
        ],
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "404": {
            "description": "Device invite not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/device-invites/-/accept": {
      "post": {
        "summary": "Accept a device invite",
        "description": "Accepts the invitation to share a device into the requesting user's tailnet.\n\nNote that device invites cannot be accepted using an API access token generated from an OAuth client as the shared device is scoped to a user.\n",
        "operationId": "acceptDeviceInvite",
        "tags": [
          "DeviceInvites"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invite": {
                    "type": "string",
                    "example": "https://login.tailscale.com/admin/invite/xxxxxx",
                    "description": "The URL of the invite (in the form `https://login.tailscale.com/admin/invite/{code}`) or the `{code}` component of the URL.\n"
                  }
                },
                "required": [
                  "invite"
                ]
              },
              "examples": {
                "usingFullUrl": {
                  "summary": "Using the full invite URL",
                  "value": {
                    "invite": "https://login.tailscale.com/admin/invite/xxxxxx"
                  }
                },
                "usingCodeComponent": {
                  "summary": "Using `code` component of the invite URL",
                  "value": {
                    "invite": "xxxxxx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device": {
                      "type": "object",
                      "description": "Information about the device being shared.\n",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "12346",
                          "description": "The `nodeId` for the device.\n"
                        },
                        "os": {
                          "type": "string",
                          "example": "iOS",
                          "description": "The operating system that the device is running.\n"
                        },
                        "name": {
                          "type": "string",
                          "example": "my-phone",
                          "description": "The name of the device.\n"
                        },
                        "fqdn": {
                          "type": "string",
                          "example": "my-phone.something.ts.net",
                          "description": "The MagicDNS name of the device.\nLearn more about MagicDNS at https://tailscale.com/kb/1081/.\n"
                        },
                        "ipv4": {
                          "type": "string",
                          "example": "100.x.y.z",
                          "description": "The IPv4 address of the device.\n"
                        },
                        "ipv6": {
                          "type": "string",
                          "example": "fd7a:115c:x::y:z",
                          "description": "The IPv6 address of the device.\n"
                        },
                        "includeExitNode": {
                          "type": "boolean",
                          "example": false,
                          "description": "Specifies whether the invited user is able to use the\ndevice as an exit node when the device is advertising as one.\n"
                        }
                      }
                    },
                    "sharer": {
                      "type": "object",
                      "description": "The user who create the device share invite.\n",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "22012",
                          "description": "The ID of the user who created the share invite.\n"
                        },
                        "displayName": {
                          "type": "string",
                          "example": "Some User",
                          "description": "The display name of the user who created the share invite.\n"
                        },
                        "loginName": {
                          "type": "string",
                          "example": "someuser@example.com",
                          "description": "The email address of the user who created the share invite.\n"
                        },
                        "profilePicURL": {
                          "type": "string",
                          "example": "",
                          "description": "The profile pic URL for the user who created the share invite.\n"
                        }
                      }
                    },
                    "acceptedBy": {
                      "type": "object",
                      "description": "The user accepting the device share invite.\n",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "33233",
                          "description": "The ID of the user who accepted the share invite.\n"
                        },
                        "displayName": {
                          "type": "string",
                          "example": "Another User",
                          "description": "The display name of the user who accepted the share invite.\n"
                        },
                        "loginName": {
                          "type": "string",
                          "example": "anotheruser@example2.com",
                          "description": "The email address of the user who accepted the share invite.\n"
                        },
                        "profilePicURL": {
                          "type": "string",
                          "example": "",
                          "description": "The profile pic URL for the user who accepted the share invite.\n"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tailnet/{tailnet}/logging/configuration": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/start"
        },
        {
          "$ref": "#/components/parameters/end"
        },
        {
          "$ref": "#/components/parameters/actor"
        },
        {
          "$ref": "#/components/parameters/target"
        },
        {
          "$ref": "#/components/parameters/event"
        }
      ],
      "get": {
        "summary": "List configuration audit logs",
        "description": "List all configuration audit logs for a tailnet.\n\nOAuth Scope: `logs:configuration:read`.\n",
        "operationId": "listConfigurationAuditLogs",
        "tags": [
          "Logging"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "A structured response for all of a Tailnet's audit logs over a period of time.",
                  "properties": {
                    "version": {
                      "type": "string",
                      "description": "Version of audit logs response.",
                      "example": "1.1"
                    },
                    "tailnet": {
                      "type": "string",
                      "example": "example.com",
                      "description": "The tailnet on which the logged configuration changes were made."
                    },
                    "logs": {
                      "type": "array",
                      "description": "Matching log entries, ordered chronologically.",
                      "items": {
                        "$ref": "#/components/schemas/ConfigurationAuditLog"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameter(s).",
            "$ref": "#/components/responses/400"
          },
          "403": {
            "description": "User does not have sufficient access to view configuration audit logs.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Logging is not supported on this deployment of Tailscale.",
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/tailnet/{tailnet}/logging/network": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/start"
        },
        {
          "$ref": "#/components/parameters/end"
        }
      ],
      "get": {
        "summary": "List network flow logs",
        "description": "List all network flow logs for a tailnet.\n\nOAuth Scope: `logs:network:read`.\n",
        "operationId": "listNetworkFlowLogs",
        "tags": [
          "Logging"
        ],
        "responses": {
          "200": {
            "description": "Successful operation. The `logs` field contains an array of [NetworkFlowLog](#model/networkflowlog) objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "A structured response for all of a Tailnet's network flow logs over a period of time.",
                  "properties": {
                    "logs": {
                      "type": "array",
                      "description": "Matching log entries, ordered chronologically.",
                      "items": {
                        "$ref": "#/components/schemas/NetworkFlowLog"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameter(s).",
            "$ref": "#/components/responses/400"
          },
          "403": {
            "description": "User does not have sufficient access to view network flow logs.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Logging is not supported on this deployment of Tailscale.",
            "$ref": "#/components/responses/404"
          },
          "502": {
            "description": "The system was unable to communicate with logging server.",
            "$ref": "#/components/responses/502"
          }
        }
      }
    },
    "/tailnet/{tailnet}/logging/{logType}/stream/status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/logType"
        }
      ],
      "get": {
        "summary": "Get log streaming status",
        "description": "Retrieve the log streaming status for the provided log type.\n\nOAuth Scope: `log_streaming:read`.\n",
        "operationId": "getLogStreamingStatus",
        "tags": [
          "Logging"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogstreamEndpointPublishingStatus"
                }
              }
            }
          },
          "404": {
            "description": "Log streaming has not been configured, this `logType` is not supported, or user does not have sufficient access to view log streaming status.",
            "$ref": "#/components/responses/404"
          },
          "502": {
            "description": "The system was unable to communicate with logging server.",
            "$ref": "#/components/responses/502"
          }
        }
      }
    },
    "/tailnet/{tailnet}/logging/{logType}/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/logType"
        }
      ],
      "get": {
        "summary": "Get log streaming configuration",
        "description": "Retrieve the log streaming configuration for the provided log type.\n\nOAuth Scope: `log_streaming:read`.\n",
        "operationId": "getLogStreamingConfiguration",
        "tags": [
          "Logging"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogstreamEndpointConfiguration"
                }
              }
            }
          },
          "404": {
            "description": "Log streaming has not been configured, this `logType` is not supported, or user does not have sufficient access to view log streaming configuration.",
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "summary": "Set log streaming configuration",
        "description": "Set the log streaming configuration for the provided log type.\n\nOAuth Scope: `log_streaming`. `device_invites` and `policy_file` are also required if streaming to a [private endpoint](https://tailscale.com/kb/1255/log-streaming#private-endpoints).\n",
        "operationId": "setLogStreamingConfiguration",
        "tags": [
          "Logging"
        ],
        "requestBody": {
          "description": "The [LogstreamEndpointConfiguration](#model/logstreamendpointconfiguration) to set.\n`logType` is specified in the request URL rather than the body.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogstreamEndpointConfiguration"
              },
              "example": {
                "destinationType": "elastic",
                "url": "http://100.71.134.73:80/config-log-datastream",
                "user": "myusername",
                "token": "mytoken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "400": {
            "description": "Request has missing or invalid parameter(s).",
            "$ref": "#/components/responses/400"
          },
          "403": {
            "description": "User does not have sufficient access to update log streaming configuration.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet not found, this `logType` is not supported, or user does not have sufficient access to view log streaming configuration.",
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "summary": "Disable log streaming",
        "description": "Delete the log streaming configuration for the provided log type.\n\nOAuth Scope: `log_streaming`.\n",
        "operationId": "disableLogStreaming",
        "tags": [
          "Logging"
        ],
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "403": {
            "description": "User does not have sufficient access to update log streaming configuration.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Log streaming has not been configured, this `logType` is not supported, or user does not have sufficient access to view log streaming configuration.",
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/tailnet/{tailnet}/aws-external-id": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ],
      "post": {
        "summary": "Create or get AWS external id",
        "description": "Get an AWS external id to use for streaming tailnet logs to S3 using role-based authentication,\ncreating a new one for this tailnet when necessary.\n\nOAuth Scope: `log_streaming`.\n",
        "operationId": "getAwsExternalId",
        "tags": [
          "Logging"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reusable": {
                    "type": "boolean",
                    "description": "If set to true, this same AWS external id will be returned on future calls to this endpoint, if and only if those calls also mark `reusable` as true, and the ID has not yet been linked with an AWS account."
                  }
                }
              },
              "example": {
                "reusable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsExternalId"
                }
              }
            }
          },
          "403": {
            "description": "User does not have sufficient access to obtain an AWS external id.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/tailnet/{tailnet}/aws-external-id/{id}/validate-aws-trust-policy": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "name": "id",
          "in": "path",
          "description": "The AWS external ID to validate.",
          "required": true,
          "example": "60fe9ce7-7791-4ab3-ab34-4294f5972725",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Validate external ID integration with IAM role trust policy",
        "description": "Validate that Tailscale can assume your IAM role with (and only with)\nthis external ID.\n\nOAuth Scope: `log_streaming`.\n",
        "operationId": "validateAwsExternalId",
        "tags": [
          "Logging"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roleArn": {
                    "type": "string",
                    "description": "ARN of the AWS IAM role to validate with this external ID."
                  }
                },
                "example": {
                  "roleArn": "arn:aws:iam::000000000000:role/tailscale-log-writer"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation succeeded for this external ID and IAM role."
          },
          "403": {
            "description": "User does not have sufficient access for this tailnet.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet or external ID not found.",
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "Validation failed for this external ID and IAM role.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The reason for validation failure."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tailnet/{tailnet}/dns/nameservers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ],
      "get": {
        "summary": "List DNS nameservers",
        "description": "Lists the global DNS nameservers for a tailnet.\n",
        "operationId": "listDnsNameservers",
        "tags": [
          "DNS"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "8.8.8.8",
                        "1.2.3.4"
                      ],
                      "description": "DNS nameservers.\n"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "summary": "Set DNS nameservers",
        "description": "Replaces the list of global DNS nameservers for the given tailnet with the list supplied in the request.\n\nNote that changing the list of DNS nameservers may also affect the status of MagicDNS (if MagicDNS is on; learn about [MagicDNS](https://tailscale.com/kb/1081)).\nIf all nameservers have been removed, MagicDNS will be automatically disabled (until explicitly turned back on by the user).\n",
        "operationId": "setDnsNameservers",
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dns": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "8.8.8.8",
                      "1.2.3.4"
                    ],
                    "description": "DNS nameservers.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "8.8.8.8",
                        "1.2.3.4"
                      ],
                      "description": "DNS nameservers.\n"
                    },
                    "magicDNS": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether MagicDNS is active for this tailnet.\n"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tailnet/{tailnet}/dns/preferences": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ],
      "get": {
        "summary": "Get DNS preferences",
        "description": "Retrieves the DNS preferences that are currently set for the given tailnet.\n",
        "operationId": "getDnsPreferences",
        "tags": [
          "DNS"
        ],
        "responses": {
          "200": {
            "description": "Succesful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsPreferences"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "summary": "Set DNS preferences",
        "description": "Set the DNS preferences for a tailnet; specifically, the MagicDNS setting.\nNote that MagicDNS is dependent on DNS servers.\nLearn about [MagicDNS](https://tailscale.com/kb/1081).\n\nIf there is at least one DNS server, then MagicDNS can be enabled.\nOtherwise, it returns an error.\n\nNote that removing all nameservers will turn off MagicDNS.\nTo reenable it, nameservers must be added back, and MagicDNS must be explicitly turned on.\n",
        "operationId": "setDnsPreferences",
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsPreferences"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsPreferences"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tailnet/{tailnet}/dns/searchpaths": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ],
      "get": {
        "summary": "List DNS search paths",
        "description": "Retrieves the list of search paths, also referred to as *search domains*, that is currently set for the given tailnet.\n",
        "operationId": "listDnsSearchPaths",
        "tags": [
          "DNS"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsSearchPaths"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "summary": "Set DNS search paths",
        "description": "Replaces the list of search paths for the given tailnet.\n",
        "operationId": "setDnsSearchPaths",
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsSearchPaths"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsSearchPaths"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tailnet/{tailnet}/dns/split-dns": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ],
      "get": {
        "summary": "Get split DNS",
        "description": "Retrieves the split DNS settings, which is a map from domains to lists of nameservers, that is currently set for the given tailnet.\n",
        "operationId": "getSplitDns",
        "tags": [
          "DNS"
        ],
        "responses": {
          "200": {
            "description": "Succesful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SplitDns"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "summary": "Update split DNS",
        "description": "Performs partial updates of the split DNS settings for a given tailnet.\nOnly domains specified in the request map will be modified.\nSetting the value of a mapping to `null` clears the nameservers for that domain.\n",
        "operationId": "updateSplitDns",
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SplitDns"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SplitDns"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "put": {
        "summary": "Set split DNS",
        "description": "Replaces the split DNS settings for a given tailnet.\nSetting the value of a mapping to `null` clears the nameservers for that domain.\nSending an empty object clears nameservers for all domains.\n",
        "operationId": "setSplitDns",
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SplitDns"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SplitDns"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tailnet/{tailnet}/dns/configuration": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ],
      "get": {
        "summary": "Get DNS configuration",
        "description": "Retrieves the full DNS configuration for a tailnet, including global nameservers, split DNS routes, search paths, and MagicDNS configuration.\n",
        "operationId": "getDnsConfiguration",
        "tags": [
          "DNS"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsConfiguration"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "summary": "Set DNS configuration",
        "description": "Replaces the DNS configuration for the given tailnet.\n\n- `nameservers` defines the global resolvers to use when `preferences.overrideLocalDNS` is true.\n- `splitDNS` maps DNS name suffixes (domains) to lists of resolvers for Split DNS.\n- `searchPaths` sets custom DNS search domain paths.\n- `preferences.overrideLocalDNS` controls whether resolvers in `nameservers` override the local OS configuration (true) or are used or local resolvers are used (false). Defaults to false.\n- `preferences.magicDNS` enables MagicDNS. Defaults to false.\n",
        "operationId": "setDnsConfiguration",
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsConfiguration"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tailnet/{tailnet}/keys": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        }
      ],
      "get": {
        "summary": "List tailnet keys",
        "description": "Returns a list of active auth keys, API access tokens and trust credentials.\n\nIf the parameter {all} was not specified, the set of keys returned depends on the access token used to make the request:\n- If the API call is made with a user-owned API access token, this returns only the keys owned by that user.\n- If the API call is made with an access token derived from an OAuth client, this returns all OAuth clients for the tailnet.\n- If the API call is made with an access token derived from a federated identity, this returns all federated identities for the tailnet.\n\nOAuth Scope: `api_access_tokens:read` grants access to personal API access tokens.\n\nOAuth Scope: `auth_keys:read` grants access to machine auth keys.\n\nOAuth Scope: `oauth_keys:read` grants access to OAuth clients and OAuth tokens.\n\nOAuth Scope: `federated_keys:read` grants access to federated identities.\n",
        "operationId": "listTailnetKeys",
        "tags": [
          "Keys"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/all"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "description": "A list of the active keys.",
                      "items": {
                        "$ref": "#/components/schemas/Key"
                      },
                      "example": [
                        {
                          "id": "XXXX14CNTRL",
                          "keyType": "client",
                          "created": "2021-12-09T23:22:39Z",
                          "scopes": [
                            "all"
                          ],
                          "description": "test key",
                          "userId": "uscwcTtzzo11DEVEL"
                        },
                        {
                          "id": "XXXXZ3CNTRL",
                          "keyType": "api",
                          "expirySeconds": 7776000,
                          "created": "2021-12-09T23:22:39Z",
                          "expires": "2022-03-09T23:22:39Z",
                          "scopes": [
                            "all"
                          ],
                          "description": "production key",
                          "userId": "uscwcTtzzo11DEVEL"
                        },
                        {
                          "id": "XXXX43CNTRL",
                          "keyType": "auth",
                          "expirySeconds": 7776000,
                          "created": "2021-12-09T23:22:39Z",
                          "expires": "2022-03-09T23:22:39Z",
                          "capabilities": {
                            "devices": {
                              "create": {
                                "reusable": true,
                                "ephemeral": false,
                                "preauthorized": true,
                                "tags": [
                                  "tag:example"
                                ]
                              }
                            }
                          },
                          "description": "dev access",
                          "userId": "uscwcTtzzo11DEVEL"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "summary": "Create an auth key or trust credential",
        "description": "Creates a new [auth key](https://tailscale.com/kb/1085/), or [trust credential](https://tailscale.com/kb/1623/) in the specified tailnet.\nTrust credentials include [OAuth clients](https://tailscale.com/kb/1215/) and [federated identities](https://tailscale.com/kb/1581/).\nThe key will be associated with the user who owns the API access token used to make this call,\nor, if the call is made with an access token derived from an OAuth client or federated identity, the key will be owned by the tailnet.\n\nReturns a JSON object with the generated key.\nThe key should be recorded and kept safe and secure because it wields the capabilities or scopes specified in the request.\nThe identity of the key is embedded in the key itself and can be used to perform operations on the key (e.g., revoking it or retrieving information about it).\nThe full key can no longer be retrieved after the initial response.\n\nOAuth Scope: `auth_keys` grants access to create machine auth keys.\n\nOAuth Scope: `oauth_keys` grants access to create OAuth clients.\n\nOAuth Scope: `federated_keys` grants access to created federated identities.\n",
        "operationId": "createKey",
        "tags": [
          "Keys"
        ],
        "requestBody": {
          "description": "The supported fields vary depending on the value of the `keyType` field.\n\nFor auth keys, at a minimum, the request POST body must have a `capabilities` object with a `devices` object,\nthough it can be an empty JSON object.\nWith nothing else supplied, such a request generates a single-use key with no tags.\n\nFor OAuth clients, at a minimum the request POST body must have at least one scope.\n\nFor federated identities, at a minimum the request POST body must have at least one scope, a valid issuer, and a subject.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyType": {
                    "type": "string",
                    "enum": [
                      "auth",
                      "client",
                      "federated"
                    ],
                    "description": "The type of key to create. Defaults to \"auth\" if omitted.\n"
                  },
                  "description": {
                    "type": "string",
                    "description": "A short string specifying the purpose of the key. Can be a maximum of 50 alphanumeric characters. Hyphens and spaces are also allowed.\n",
                    "example": "dev access"
                  },
                  "capabilities": {
                    "$ref": "#/components/schemas/KeyCapabilities"
                  },
                  "expirySeconds": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Specifies the duration in seconds until the key expires. Defaults to 90 days if not supplied.\n\nOnly applies to auth keys.\n",
                    "example": 86400
                  },
                  "scopes": {
                    "type": "array",
                    "description": "A list of scopes to grant to the key. At least one scope is required for OAuth clients and federated identities.\nSee [trust credentials scopes](https://tailscale.com/kb/1623/trust-credentials#scopes) for a list of available scopes.\n\nOnly applies to OAuth clients and federated identities.\n",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "all:read"
                    ]
                  },
                  "tags": {
                    "type": "array",
                    "description": "A list of tags associated to the trust credential. Auth keys created with this credential must have these exact tags, or tags owned by the credential's tags.\nMandatory if the scopes include \"devices:core\" or \"auth_keys\".\n\nOnly applies to OAuth clients and federated identities.\n",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "tag:example"
                    ]
                  },
                  "issuer": {
                    "type": "string",
                    "format": "uri",
                    "description": "The issuer of the OIDC identity token used in the token exchange. Must be a valid and publicly reachable https:// URL.\n\nOnly applies to federated identities.\n",
                    "example": "https://example.com"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The pattern used when matching against the `sub` claim from an OIDC identity token.\nPatterns can include `*` characters to match against any character.\n\nOnly applies to federated identities.\n",
                    "example": "my-example-subject-*"
                  },
                  "audience": {
                    "type": "string",
                    "description": "The value used when matching against the `aud` claim from an OIDC identity token.\n\nSpecifying the audience is optional as Tailscale will generate a secure audience at creation time by default.\nIt is recommended to let Tailscale generate the audience unless the identity provider you are integrating with\nrequires a specific audience format.\n\nOnly applies to federated identities.\n",
                    "example": "api.tailscale.com/Tz8TefihCR11DEVEL-kqc11MVpwu11DEVEL"
                  },
                  "customClaimRules": {
                    "type": "object",
                    "additionalProperties": {
                      "x-additionalPropertiesName": "Custom claim rule",
                      "type": "string"
                    },
                    "description": "A map of claim names to pattern strings used to match against arbitrary claims in the OIDC identity token.\nPatterns can include `*` characters to match against any character.\n\nOnly applies to federated identities.\n",
                    "example": {
                      "exampleAdditionalClaim": "valueToMatch",
                      "otherAdditionalClaim": "valueWithWildcard*"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Key"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tailnet/{tailnet}/keys/{keyId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tailnet"
        },
        {
          "$ref": "#/components/parameters/keyId"
        }
      ],
      "get": {
        "summary": "Get key",
        "description": "Returns a JSON object with information about a specific api access token, OAuth client, federated identity, or auth key, such as its creation and expiration dates and its capabilities.\n\nOAuth Scope: `api_access_tokens:read` grants access to personal API access tokens.\n\nOAuth Scope: `auth_keys:read` grants access to machine auth keys.\n\nOAuth Scope: `oauth_keys:read` grants access to OAuth clients and OAuth tokens.\n\nOAuth Scope: `federated_keys:read` grants access to federated identities.\n",
        "operationId": "getKey",
        "tags": [
          "Keys"
        ],
        "responses": {
          "200": {
            "description": "Successful operation.\n\nResponse for a revoked (deleted) or expired key will have an `invalid` field set to true.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Key"
                }
              }
            }
          },
          "404": {
            "description": "Tailnet or key not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "summary": "Delete key",
        "description": "Deletes a specific api access token or auth key.\n\nOAuth Scope: `api_access_tokens` grants access to personal API access tokens.\n\nOAuth Scope: `auth_keys` grants access to machine auth keys.\n\nOAuth Scope: `oauth_keys` grants access to OAuth clients and OAuth tokens.\n\nOAuth Scope: `federated_keys` grants access to federated identities.\n",
        "operationId": "deleteKey",
        "tags": [
          "Keys"
        ],
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "403": {
            "description": "User does not have sufficient access to delete this key.",
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Tailnet not found.",
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "put": {
        "summary": "Set key",
        "description": "Set the configuration for an existing OAuth client or federated identity.\n\nOAuth Scope: `oauth_keys` grants access to OAuth clients.\n\nOAuth Scope: `federated_keys` grants access to federated identities.\n",
        "operationId": "setKey",
        "tags": [
          "Keys"
        ],
        "requestBody": {
          "description": "The supported fields vary depending on the value of the `keyType` field.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyType": {
                    "type": "string",
                    "enum": [
                      "client",
                      "federated"
                    ],
                    "description": "The type of the key being updated.\n"
                  },
                  "description": {
                    "type": "string",
                    "description": "A short string specifying the purpose of the key. Can be a maximum of 50 alphanumeric characters. Hyphens and spaces are also allowed.\n",
                    "example": "dev access"
                  },
                  "scopes": {
                    "type": "array",
                    "description": "A list of scopes to grant to the key. At least one scope is required.\nSee [trust credentials scopes](https://tailscale.com/kb/1623/trust-credentials#scopes) for a list of available scopes.\n",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "all:read"
                    ]
                  },
                  "tags": {
                    "type": "array",
                    "description": "A list of tags associated to the trust credential. Auth keys created with this credential must have these exact tags, or tags owned by the credential's tags.\nMandatory if the scopes include \"devices:core\" or \"auth_keys\".\n",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "tag:example"
                    ]
                  },
                  "issuer": {
                    "type": "string",
                    "format": "uri",
                    "description": "The issuer of the OIDC identity token used in the token exchange. Must be a valid https:// URL.\n\nOnly applies to federated identities.\n",
                    "example": "https://example.com"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The pattern used when matching against the `sub` claim from an OIDC identity token.\nPatterns can include `*` characters to match against any character.\n\nOnly applies to federated identities.\n",
                    "example": "my-example-subject-*"
                  },
                  "audience": {
                    "type": "string",
                    "description": "The value used when matching against the `aud` claim from an OIDC identity token.\n\nOnly applies to federated identities.\n",
                    "example": "api.tailscale.com/Tz8TefihCR11DEVEL-kqc11MVpwu11DEVEL"
                  },
                  "customClaimRules": {
                    "type": "object",
                    "additionalProperties": {
[...]
